@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px )
	.no-gutter
		padding-left: 0px
		padding-right: 0px
	.ham
		display: none
@media only screen and (max-width : 1110px )
	.in-chose
		display: none
	.wrap-right .count .bottom-count .chosen .fa-heart 
		margin: 0px
	.wrap-right .count .counter .quantity .quan 
		width: 32px
	.wrap-right .count .bottom-count .chosen
		width: 32px
		height: 32px
		padding: 0px
		text-align: center
		line-height: 32px
		margin-left: 14px
	.images
		position: relative
	.goods .images .images-list 
		bottom: -186px
		display: inline-block
		left: 15%
		position: absolute
		z-index: 1
	.goods .images .images-list .arrow-up 
		cursor: pointer
		left: -40px
		position: absolute
		top: 75px
		transform: rotate(270deg)
	.goods .images .images-list .arrow-down 
		top: -13px
		cursor: pointer
		position: absolute
		left: 455px
		transform: rotate(270deg)
	.goods-list li 
		display: inline-block
		list-style: outside none none
		margin-bottom: 9px
		margin-right: 25px
	.goods .images .picture
		top: 0
	///////////////////////////
	.wrap-right .current-eliot h2 
		font-size: 18px
	.wrap-right .current-eliot h3
		font-size: 14px
		line-height: 1.2
		margin: 10px 0px
		width: 130px
	.wrap-right .current-eliot strike
		font-size: 14px
		display: block
	.wrap-right .current-eliot .discount
		margin-left: 0px
		line-height: 1
	.wrap-right .current-eliot .sale 
		height: 30px
		width: 30px
		//top: 3px
	.wrap-right .current-eliot .sale span
		font-size: 11px
		line-height: 1
	.wrap-right .current-eliot
		//padding-bottom: 10px
	.ham
		display: none
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px )
	.no-gutter
		padding-left: 15px
		padding-right: 	15px
	header .top-line .wrap-logo .logo
		top: inherit
		transform: none
	header .top-line .wrap-logo .logo img 
		display: inline-block
		margin-top: 10px
		max-width: 230px
	header .top-line .wrap-shares 
		bottom: 31px
		left: -39px
		transform: none
	header .top-line .wrap-shares .outer-shares .shares
		top: 5px
	header .top-line .wrap-shares .outer-shares .shares span
		padding: 6px 0px
	header .top-line .wrap-shares .outer-shares .catalog
		border-bottom: 47px solid #f68235
	header .top-line .wrap-shares .outer-shares .catalog span
		margin: 13px auto auto
	.chev
		display: none
	.ham
		display: none
	//.familiar-goods
	//	padding: 0px 15px
@media only screen and (max-width : 768px )
	.no-gutter
		padding-left: 15px
		padding-right: 15px
	//header
	header .top-line .wrap-logo 
		position: static
	header .top-line .wrap-logo .logo 
		margin: auto
		margin-top: 20px
		display: block
		position: static
		width: 170px

	header .top-line .wrap-logo .logo img 
		display: inline-block
		margin-top: 10px
		width: 100%
	header .top-line .wrap-shares 
		bottom: 5px
		height: 50px
		transform: none
		width: 100%
	header .top-line .wrap-shares .outer-shares 
		display: inline-block
		position: relative
		width: 100%
	.left-side 
		display: none
	header .top-line .wrap-shares .outer-shares .shares 
		left: 0
		width: 50%
		height: 37px
		top: 1px
	header .top-line .wrap-shares .outer-shares .catalog 
		width: 60%
	header .top-line .wrap-shares
		left: 0
	header .top-line .wrap-shares .outer-shares .catalog span 
		left: 50%
		position: absolute
		transform: translate(-90%, 50%)
		margin: 0px
	.top-line 
		position: relative
		height: 127px
	.navigation
		display: none
	.ham
		display: block
	
	// Navigation
	.navigation
		display: none
	.nav
		width: 100%
		padding: 0px
	.navigation .top-menu ul li 
		border-bottom: 1px solid #fff
		display: block
		list-style: outside none none
		max-width: 100%
		padding: 18px 0
		text-align: center
		width: 100%	
/* Small Devices, Tablets */
//@media only screen and (max-width : 768px )
	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px )
	.wrap-rest
		display: none
	main .main-menu
		padding-bottom: 30px
	.goods >div
		padding: 0px
	.mainPicture
		width: 100%
		max-width: 100%
		height: auto
	.goods .images .picture
		position: static
		.fa-clock-o
			display: none
	.goods-list li img
		display: none
	.goods-list 
		padding: 0px
		.list-item
			width: 10px 
			height: 10px
			border-radius: 50%
			background-color: #dedede
			float: left
	.goods-list li.active-goods-list
		width: 10px 
		height: 10px
		border-radius: 50%
		background-color: #f68235
	.goods .images .images-list .arrow-toggle	
		display: none
	.picture-block
		padding-bottom: 60px
	.goods .images .images-list 
		bottom: -40px
		display: inline-block
		left: 50%
		position: absolute
		transform: translateX(-50%)
		z-index: 1
	.goods-list li.active-goods-list 
		background-color: #f68235
		border-radius: 50%
		height: 10px
		width: 10px
		box-shadow: none
	.goods-list li 
		margin-bottom: 0px
		margin-right: 10px
	.images	
		text-align: center
	.wrap-right
		padding: 0px 14px
	.wrap-right .current-eliot
		position: relative
		border-bottom: none
		&::after
			content: ""
			display: block
			position: absolute
			width: 120%
			height: 60px
			background-color: #ededed
			left: -10%
			bottom: 15px
			z-index: -10
	.wrap-right .current-eliot .sale span
		font-size: 18px
	.wrap-right .current-eliot .sale
		height: 45px
		width: 45px
		bottom: 19px
	.wrap-right .current-eliot h3
		margin: 20px 0px 30px
	.wrap-right .current-eliot h2
		color: #000
	.wrap-right .numbers .wrap-numbers
		margin-bottom: 12px 
		a
			display: block
		span
			display: none
	.familiar-goods
		display: none
	.info
		display: none
	.see-also .wrap-see-also 
		text-align: left
		padding: 20px 0px
	.see-also .wrap-see-also .see-also-list li
		display: block
		line-height: 1.8
		&:first-child
			padding-bottom: 5px
	.footer-hidden
		display: none
	.footer footer .wrap-footer-icons 
		text-align: ce
		.wrap-logo-footer 
			max-width: 166px
			display: inline-block
		.payment
			margin-right: 0px
	.four-item
		display: block
	.wrap-right .accordion .accordion-caption > li .embeded 
		display: none
		padding: 0
		margin-top: 22px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px )
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

